body{
	background-color: #D5D5D5;
}
#container{
	margin: 5px;
}

#myOutput{
	width: 100%;
	color:  #ffff;
	font-size: 2em;
}
input {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 0.6em;
	border: medium solid #0C7CA4;
	background-color: #fff;
}
input[type="text"] {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
}
input[type="button"] {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.3em;
	color: #0C7CA4;
	font-weight: bold;
	border-style: double;
	border-width: thick;
}
input[type="submit"] {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1em;
	color: #0C7CA4;
	font-weight: bold;
}
